* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to left, #110C53, #353349);
}

#parent {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(6, 100px);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-areas:
  "output output output output" 
  "add subtract multiply divide"
  "seven eight nine clear"
  "four five six equal"
  "one two three equal"
  "zero decimal delete equal";
}

#parent > button {
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  
}

#parent > button:hover {
  background-color: rgba(255, 255, 255, .90);
}

#output {
  background: rgba(0, 0, 0, .75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 20px;
  color: rgba(255, 255, 255, .75);
  font-size: 2rem;
}

[data-number] {
  background-color: rgba(255, 255, 255, .75);
}

[data-operator] {
  background-color: rgba(255, 255, 255, .3);
}

#previous-input-field {
  font-size: 1.5rem;
}

#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#zero {
  grid-area: zero;
}
#decimal {
  grid-area: decimal;
}
#clear {
  grid-area: clear;
  background-color: rgba(255, 255, 255, .75);
}
#equals {
  grid-area: equal;
  background-color:rgba(255, 255, 255, .4)
}
#add {
  grid-area: add;
}
#subtract {
  grid-area: subtract;
}
#multiply {
  grid-area: multiply;
}
#divide {
  grid-area: divide;
}
#output {
  grid-area: output;
}
#delete {
  grid-area: delete;
  background-color: rgba(255, 255, 255, .75);
}
